.wrapper{
    display: flex;
    justify-content: center;
    margin: -1rem auto 0 auto;
}

@media (max-width: 767px) {
    html {
        font-size: 87.5%;
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
}